*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    line-height: 1.4;
    background-size: cover;
}
.container{
    height: 50px;
    width: 100%;
    background-color:#27007e ;
    position:fixed;
}
ul{
    list-style: none;
    position: relative;
    right: 10%;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 0;
    z-index: 1;
    box-shadow:0px 0.5px 10px gray
}
.logo{
    font-size: 32px;
    font-weight: 600;
    position: relative;
    left: 10%;
}
nav ul{
    display: flex;
    gap: 20px;
}
.over_view{
    height: 100vh;
    background-image: url(hero_image\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: grid;
    text-align: center;
    place-items: center;
}
.container1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1200px;
}
.over_view h1{
    font-size: 96px;
}
.over_view h3{
    font-size: 32px;
}
.music-section{
    padding-top: 50px;
    background-color:#281154 ;
    display: grid; 
    text-align: center; 
    place-items:center;
}
.container2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 1200px;
}
.btn{
    background-color: #dc0000;
    color: white;
    height: 35px;
    width: 150px;
    border: none;
}
.pad-phone{
    margin-top: -400px;
    position: relative;
    top: 400px;
}
.about-music{
    padding-top: 500px;
    display: grid; 
    text-align: center; 
    place-items:center; 
    gap: 50px;
    margin-bottom: 50px;
}
.container3{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.btn2{
    background-color: #270082;
    color: white;
    height:35px;
    width: 95px;
}
.video-section{
    background-image: url(video.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    color: white;
    text-align: center;
    place-items: center;
}
.container4{
    padding-top: 200px;
    padding-left: 150px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.gift-section{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin:100px 0;
    /* width: 100%; */
}
.gift{
    position: relative;
    left: 100px;
    bottom: 25px;
}
.gift_card{
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    display: grid;
    position: relative;
    left: 70px;
    bottom:10 px;
    width: 750px;
    line-height:25px;
} 
.btn3{
    background-color: #270082;
    color:white ;
    position: relative;
    right:730px;
    bottom:-300px ;
    height: 35px;
    width: 80px;
    border-style: none;
}
.foot-up{
    background-color: #1b0058;
    padding: 20px;
    height: 250px;
}
.container5{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 1200px;
    position: relative;
    left: 150px;
}
.foot-up h4{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
.foot-down{
    background-color:#270082 ;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    left:0px ;
    right: 0px;
    bottom:-3650px;
} 
.foot-up ul li{
    /* font-family: "robot,san-serif"; */
    position: relative;
    left: 10px;
}
.foot-up ul{
    position: relative;
    top: 30px;

}
.foot-up h4{
    position: relative;
    top: 20px;
    left: -10px;
}
.footer{
    margin: 0;
}